 @font-face {
    font-family: "Sen Regular";
    src: url("Sen-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Sen Bold";
    src: url("Sen-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "SecularOne Regular";
    src: url("SecularOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ArchivoBlack Regular";
    src: url("ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CormorantGaramond Regular";
    src: url("CormorantGaramond-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("Poppins-Regular.ttf") format("truetype");
}
.style-link a, .style-link a:link, .style-link a:active, .style-link a:visited {
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    color: black;
    box-shadow: inset 0 -3px 0 -1px black;
    transition: box-shadow .15s ease-in-out;
}
.style-link a:hover {
    color: white;
    box-shadow: inset 0 -40px 0 -1px black;
}

.inverted-style-link a, .inverted-style-link a:link, .inverted-style-link a:active, .inverted-style-link a:visited {
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    color: white;
    box-shadow: inset 0 -3px 0 -1px white;
    transition: box-shadow .15s ease-in-out;
}
.inverted-style-link a:hover {
    color: black;
    box-shadow: inset 0 -40px 0 -1px white;
}

.pagination > li > a {
  background-color: white;
  color: #444;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #fff;
  background-color: #888;
  border-color: #888;
}
.pagination > .active > a {
  color: white;
  background-color: #444 !Important;
  border: solid 1px #444 !Important;
}
.pagination > .active > a:hover {
  background-color: #444 !Important;
  border: solid 1px #444;
}
.customcard h2 {
    color: #FFF;
    font-family: "Sen Bold", sans-serif;
}
.customcard p {
    color: #FFF;
    font-family: "Poppins Regular", sans-serif;
}

.customrecommends h3 {
    color: #000;
    font-family: "Sen Bold", sans-serif;
}
.customrecommends p {
    color: #888;
    font-family: "Poppins Regular", sans-serif;
}