<!--<nav class="navbar navbar-expand-lg bg-light">-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">navbar-dark bg-dark
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
        {% load static %}
        <img src="{% static 'webprofile/media/webprofile.svg' %}" alt="...">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" hidden>
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          {% if url == 'signup' %}
          <a class="nav-link active" href="{% url 'signup' %}">Cadastro</a>
          {% else %}
          <a class="nav-link" href="{% url 'signup' %}">Cadastro</a>
          {% endif %}
        </li>
        <li class="nav-item dropdown" hidden>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" hidden>
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <!-- / NAV -->
</nav>
