<!-- https://www.markuptag.com/bootstrap-5-navigation-bar-example/ -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <!-- Site Logo Here -->
        <small class="navbar-brand w-75 text-danger text-opacity-50">
            <a href="{% url 'index' %}" class="text-decoration-none text-light">
                <img src="{% static 'webprofile/media/webprofile.svg' %}" alt="Logo">
            </a>
            {% if url == 'index' %}
            &nbsp;
            {% elif user.is_authenticated and 'dashboard' in url %}
            &nbsp; - &nbsp;{{ user.first_name }}
            {% endif %}
        </small>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu items -->
        <div class="collapse navbar-collapse" id="navbarMobileToggle">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    {% if url == 'index' %}
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><u>Início</u></a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Início</a>
                    {% endif %}
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    {% if 'dashboard' in url %}
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' user.username %}"><u>Perfil</u></a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'dashboard' user.username %}">Perfil</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Sair</a>
                </li>

                {% else %}
                <li class="nav-item">
                    {% if url == 'signup' %}
                    <a class="nav-link active" aria-current="page" href="{% url 'signup' %}"><u>Cadastrar</u></a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'signup' %}">Cadastrar</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if url == 'login' %}
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}"><u>Entrar</u></a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}">Entrar</a>
                    {% endif %}
                </li>
                {% endif %}

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="Submenu-Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Services-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu rounded-3" aria-labelledby="Submenu-Dropdown">-->
<!--                        <li><a class="dropdown-item" href="#">Services One</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Services Two</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Services Three</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Services Four</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Portfolio</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Contact</a>-->
<!--                </li>-->
            </ul>

            <!-- Right Side -->
<!--            {% if user.is_authenticated %}-->
            <div class="btn-group float-end">
                <span class="text-decoration-none text-light">
                    <i class="bi bi-person-circle"></i>&nbsp;{{ user.first_name }}
                </span>
<!--                <a href="#" class="dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown">-->
<!--                <i class="bi bi-person-circle"></i>-->
<!--                <span>{{ user.first_name }}</span>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu dropdown-menu-end">-->
<!--                    <li><a href="#" class="dropdown-item"><i class="bi bi-lock-fill"></i> Change Password</a></li>-->
<!--                    <li><a href="#" class="dropdown-item"><i class="bi bi-gear-fill"></i> Admin Setion</a></li>-->
<!--                    <li><a href="#" class="dropdown-item"><i class="bi bi-gear-wide-connected"></i> IMAP Settings</a></li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->
<!--                    <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> Sair</a></li>-->
<!--                </ul>-->
            </div>
<!--            {% endif %}-->
        </div>
    </div>
</nav>
