{% load static %}
{% if user_profile %}
<div class="img-fluid"  style="height: 300px; background-image: url('{{ user_profile.cover_image.url }}'); background-attachment: fixed; background-color: rgba(0,0,0,.1);">
{% else %}
<div class="img-fluid"  style="height: 300px; background-image: url('{% static 'webprofile/media/cover-default.svg' %}'); background-repeat: no-repeat; background-attachment: fixed; background-color: rgba(0,0,0,.1);">
{% endif %}
    <div style="height: 150px;"></div>

    <div class="d-flex justify-content-between">

        <div class="float-end mx-3 text-center">
            <div style="height: 100px;"></div>
            {% if user.is_authenticated and user.id == url_user.id %}
                <!-- EDIT COVER -->
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <i class="bi bi-pen-fill"></i>
                </button>

                <!-- MODAL -->
                <div class="modal fade text-start" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">&nbsp;</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- MODAL Content -->
                            <form action="{% url 'update_cover_image' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-5">
                                <label for="cover_image" class="form-label mb-3">Selecione a nova imagem de capa</label>
                                <input type="file" class="form-control" id="cover_image" name="cover_image" required>
                              </div>
                              <button type="submit" class="btn btn-dark">Atualizar</button>
                            </form>

                        <!-- /MODAL Content -->
                      </div>
                    </div>
                  </div>
                </div>

            {% endif %}
        </div>

        <div class="float-end mx-3 text-center">
            <img class="rounded-circle" src="{% static 'webprofile/media/profile-default.svg' %}" alt="">
            {% if user.is_authenticated and user.id == url_user.id %}
            <div class="p-1">

                <!-- EDIT COVER -->
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdropProfileImage">
                  <i class="bi bi-pen-fill"></i>
                </button>

                <!-- MODAL -->
                <div class="modal fade text-start" id="staticBackdropProfileImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropProfileImageLabel">&nbsp;</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <!-- MODAL Content -->
                            <form action="{% url 'update_profile_image' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-5">
                                <label for="cover_image" class="form-label mb-3">Selecione a nova imagem de perfil</label>
                                <input type="file" class="form-control" id="profile_image">
                              </div>
                              <button type="submit" class="btn btn-dark">Atualizar</button>
                            </form>

                        <!-- /MODAL Content -->
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            {% endif %}
        </div>

    </div>

</div>

{% if user.is_authenticated and user.id == url_user.id %}
<div class="h4 pb-2 pt-2 px-2 mb-4 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
  <div>
  {% if url_context == 'dashboard' %}
    <a type="button" class="btn btn-light text-dark btn-lg active" href="{% url 'dashboard' user.username %}">
        <i class="bi bi-archive-fill"></i>
    </a>
    {% else %}
    <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'dashboard' user.username %}">
        <i class="bi bi-archive-fill"></i>
    </a>
  {% endif %}

  {% if url_context == 'dashboard_draft' %}
    <a type="button" class="btn btn-light text-dark btn-lg active" href="{% url 'dashboard_draft' user.username %}">
        <i class="bi bi-eye-slash-fill"></i>
    </a>
  {% else %}
    <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'dashboard_draft' user.username %}">
        <i class="bi bi-eye-slash-fill"></i>
    </a>
  {% endif %}
  </div>

  <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'create' %}">
        <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Criar post
    </a>
</div>
{% endif %}
