<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      {% load static %}
        <img src="{% static 'webprofile/media/webprofile.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          {% if url == 'signup' %}
          <a class="nav-link active bg-success" aria-current="page" href="{% url 'logout' %}">Sair</a>
          {% else %}
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Sair</a>
          {% endif %}
        </li>

        {% else %}

        <li class="nav-item">
          {% if url == 'signup' %}
          <a class="nav-link active bg-success" aria-current="page" href="{% url 'signup' %}">Cadastrar</a>
          {% else %}
          <a class="nav-link" aria-current="page" href="{% url 'signup' %}">Cadastrar</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if url == 'login' %}
          <a class="nav-link active bg-success" href="{% url 'login' %}">Entrar</a>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Entrar</a>
          {% endif %}
        </li>
        {% endif %}
        <li class="nav-item dropdown" hidden>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" hidden>
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 bg-dark text-white" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>
