{% load static %}
<div class="img-fluid"  style="height: 300px; background-image: url('{% static 'webprofile/media/cover-default.svg' %}'); background-repeat: no-repeat; background-attachment: fixed; background-color: rgba(0,0,0,.1);">
    <div style="height: 170px;"></div>
    <img class="rounded-circle float-end mx-4" src="{% static 'webprofile/media/profile-default.svg' %}" alt="">
</div>

{% if user.is_authenticated %}
<div class="h4 pb-2 pt-2 px-2 mb-4 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
  <div>
  {% if url == 'dashboard' %}
    <a type="button" class="btn btn-light text-dark btn-lg active" href="{% url 'dashboard' user.username %}">
        <i class="bi bi-archive-fill"></i>
    </a>
    {% else %}
    <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'dashboard' user.username %}">
        <i class="bi bi-archive-fill"></i>
    </a>
  {% endif %}

  {% if url == 'dashboard_draft' %}
    <a type="button" class="btn btn-light text-dark btn-lg active" href="{% url 'dashboard_draft' user.username %}">
        <i class="bi bi-eye-slash-fill"></i>
    </a>
  {% else %}
    <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'dashboard_draft' user.username %}">
        <i class="bi bi-eye-slash-fill"></i>
    </a>
  {% endif %}
  </div>

  <a type="button" class="btn btn-light text-secondary btn-lg" href="{% url 'create' %}">
        <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Criar post
    </a>
</div>
{% endif %}
