{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container-md mt-5">

    <!-- TITLE -->
    <h1 class="text-center pt-2">{{ post.title }}</h1>
    <!-- /TITLE -->

    <!-- FIGURE -->
    <div class="text-center my-4">
        <figure class="figure">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            <!--<figcaption class="figure-caption">A caption for the above image.</figcaption>-->
        </figure>
    </div>
    <!-- /FIGURE -->

    <!-- USER -->
    <div>
        {% if user.is_authenticated and user.id == post.user.id %}
        {% if not post.is_published %}
        <i class="bi bi-eye-slash-fill"></i>
        {% endif %}
        {% endif %}

        <small class="text-muted"><a href="{% url 'dashboard' post.user.username %}" class="text-decoration-none">{{ post.user.first_name }}</a> - {{ post.publication_date }}</small>

        {% if user.is_authenticated and user.id == post.user.id %}
        <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
            <i class="bi bi-pen-fill"></i>
        </a>
        {% endif %}
    </div>
    <!-- /USER -->

    <section>
        <p>{{ post.content | safe }}</p>
    </section>


<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

