{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container-md">

    <!-- ### TITLE ### -->
    <h1 class="text-center">{{ post.title }}</h1>
    <div>
        {% if user.is_authenticated and user.id == post.user.id %}
        {% if not post.is_published %}
        <i class="bi bi-eye-slash-fill"></i>
        {% endif %}
        {% endif %}

        <small class="text-muted">Por {{ post.user.first_name }} - {{ post.publication_date }}</small>

        {% if user.is_authenticated and user.id == post.user.id %}
        <a href="{% url 'edit' post.url_title post.id %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
            <i class="bi bi-pen-fill"></i>
        </a>
        {% endif %}
    </div>
    <!-- / TITLE -->

    <!-- ### FIGURE ### -->
    <div class="text-center">
        <figure class="figure">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            <!--<figcaption class="figure-caption">A caption for the above image.</figcaption>-->
        </figure>
    </div>
    <!-- / FIGURE -->
    <section>
        <p>{{ post.content | safe }}</p>
    </section>


<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

