{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_nav.html'%}

<div class="position-relative" style="height: 350px; background-image: url('{{ post.image.url }}'); background-size: cover;">
  <div style="height: 350px; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));">

    <!-- USER -->
    <div class="position-absolute pb-2 w-100 bottom-0 text-light">

        <!-- Block -->
        {% if post.is_locked_for_review %}
        <h2 class="text-muted text-center"><i class="bi bi-eye-slash-fill"></i> Bloqueado para análise</h2>

          {% if user.is_superuser %}
          <h4 class="text-muted text-center">Visível somente para: '{{ user.username }}' e '{{ post.user.first_name }}'</h4>
          {% else %}
          <h4 class="text-muted text-center">Visível somente por você {{ post.user.first_name }}</h4>
          {% endif %}

        {% endif %}

        <!-- Title -->
        <h1 class="text-center">{{ post.title }}</h1>
        <div class="container-md">

        <!-- Edit -->
        {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
        <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-dark text-light active border border-0 btn-sm"><i class="bi bi-pen-fill"></i></a>

        <!-- Closed eye icon -->
        {% if not post.is_published %}
        <i class="bi bi-eye-slash-fill"></i>
        {% endif %}

        {% endif %}

        <small class="text-muted inverted-style-link"><a href="{% url 'dashboard' post.user.username %}" class="text-decoration-none">{{ post.user.first_name }}</a> - {{ post.publication_date }}</small>
        </div>
    </div>
    <!-- /USER -->
  </div>
</div>

<div class="container-md mt-5">
    <!-- Content -->
    <section>
        <p>{{ post.content | safe }}</p>
    </section>

    <!-- Tags -->
    {% if post_tags %}
    <div class="my-5">
        TAGS
        <form class="d-flex mt-2" role="search" action="{% url 'search_tag' %}">
        {% for tag in post_tags %}
            <button class="btn btn-light border text-secondary" type="submit" value="{{ tag }}" name="q">{{ tag }}</button>&nbsp;
        {% endfor %}
        </form>
    </div>
    {% endif %}
    <!-- Recommends -->
    {% if recommended_posts %}
    <div class="mb-5">
        <h6>TALVEZ GOSTE</h6>
        {% for post in recommended_posts %}
            <div class="customrecommends card mb-3 w-100 border-0">
              <div class="row g-0">
                <div class="col-md-4 rounded" style="background-image: url('{{ post.image.url }}'); background-size: cover;">
                  <a href="{% url 'content' post.url_title post.id %}">
                  <img src="{{ post.image.url }}" class="img-fluid" alt="..." style="opacity: 0;">
                  </a>
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
                            {{ post.title }}
                        </a>
                    </h3>
                    <p class="card-text">{{ post.summary }}</p>
                    <!-- Edit -->
                    <div class="position-absolute bottom-0 start-0 m-2">
                      {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
                        <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
                          <i class="bi bi-pen-fill"></i>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% include 'partials/_footer.html'%}

{% endblock %}
