{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container">
    {% include 'partials/_dashboard_header.html'%}
    {% if not user.is_authenticated or user.id != url_user.id %}<div class="mb-1">&nbsp;</div>{% endif %}

   <!-- ### CARD ### -->
    {% if posts_per_page.0 %}
    {% for post_group in posts_per_page %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in post_group %}
      <div class="col">
        <div class="card mt-4">
          <a class="card-link text-decoration-none link-dark" href="{% url 'content' post.url_title post.id %}">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.summary }}</p>
              </div>
          </a>
            <div class="card-footer">
            <small class="text-muted">{{ post.user.first_name }} - {{ post.publication_date }}</small>
            {% if user.is_authenticated and user.id == post.user.id %}
            <a href="{% url 'edit' post.url_title post.id %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
                <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    {% else %}
    <div class="text-center text-muted"><h1>Nenhum post</h1></div>

    {% endif %}

    {% include 'partials/_pagination.html'%}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}
<!--                {% if user.is_authenticated and user.id == post.user.id %}-->
<!--                <i class="bi bi-eye-slash-fill"></i>-->
<!--                {% endif %}-->
