{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container">
    {% include 'partials/_dashboard_header.html'%}
    {% if not user.is_authenticated %}
        <div class="mb-4">&nbsp;</div>
    {% elif user.id != url_user.id and not user.is_superuser %}
        <div class="mb-4">&nbsp;</div>
    {% endif %}
   <!-- ### CARD ### -->
    {% if posts_per_page.0 %}
    {% for post_group in posts_per_page %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in post_group %}
      {% if post.is_locked_for_review and not user.is_superuser and user.id != post.user.id %}
        <div class="card mb-1">
        </div>
      {% else %}
      <div class="col card-box mb-5">
        <div class="card border-0 rounded-0">
          <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
            <img src="{{ post.image.url }}" class="card-img rounded-0" alt="...">
            <!--width: calc(100% - 20px);-->
            <div class="content rounded-0 w-100 pb-1">
              <h3>{{ post.title }}</h3>
              <p class="card-text text-truncate pt-1 pb-3">{{ post.summary }}</p>

              <div>
                  <small class="content-link">
                    {% if not post.user.is_superuser %}
                    <a href="{% url 'dashboard' post.user.username %}">{{ post.user.first_name }}</a> -
                    {% endif %}
                    {{ post.publication_date }}
                  </small>

                  {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
                  <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
                    <i class="bi bi-pen-fill"></i>
                  </a>
                  {% endif %}
              </div>

            </div>

            {% if post.is_locked_for_review %}
            <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
            <div class="rounded-0 border px-2 py-2 my-0" style="position: absolute; top: 5px; left: 5px; width: calc(100% - 10px); height: calc(100% - 10px); background-color: #F5F5F5;">
              <h6 class="opacity-25 text-truncate pb-1">{{ post.title }}</h6>
              <div class="p-0 m-0 w-100" style="height: 2px; background-color: #FFF"></div>

              <h3 class="py-0 my-0">Bloqueado para análise</h3>
              {% if user.is_superuser %}
              <p class="text-truncate text-muted py-0 my-0"> Visível por você e o usuário '{{ post.user.first_name }}'</p>
              {% else %}
              <p class="text-truncate text-muted py-0 my-0"> Visível somente por você</p>
              {% endif %}
              <p class="pt-2"><small>{{ post.review_reason }}</small></p>
            </div>
            </a>
            {% endif %}

          </a>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

    {% else %}
    <div class="text-center text-muted mt-5 mb-5"><h1>Nenhuma postagem</h1></div>

    {% endif %}

    {% include 'partials/_pagination.html'%}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}
