{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container">
    {% include 'partials/_dashboard_header.html'%}
    {% if not user.is_authenticated %}
        <div class="mb-4">&nbsp;</div>
    {% elif user.id != url_user.id and not user.is_superuser %}
        <div class="mb-4">&nbsp;</div>
    {% endif %}
   <!-- ### CARD ### -->
    {% if posts_per_page.0 %}
    {% for post_group in posts_per_page %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in post_group %}
      {% if post.is_locked_for_review and not user.is_superuser and user.id != post.user.id %}
        <div class="card mb-1">
        </div>
      {% else %}
      <div class="col card-box mb-4">
        <div class="position-relative card mb-1 border-0" style="padding: 10px;">
          <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
            <img src="{{ post.image.url }}" class="card-img" alt="...">
            <!-- Image blur -->
            <div class="customcard rounded-0 rounded-top p-2" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-image: url('{{ post.image.url }}'); background-size: cover; filter: blur(3px);">
              <h2 class="opacity-0">{{ post.title }}</h2>
            </div>
            <!-- BG and Text -->
            <div class="customcard rounded-0 rounded-top p-2" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-color: rgba(0, 0, 0, 0.8);">
              <h2>{{ post.title }}</h2>
            </div>
            <!-- Border -->
            <div class="customcard rounded-0 rounded-top w-100 p-2" style="position: absolute; top: 0px; left: 0px; border: 10px solid #FFF; border-bottom: 0px;">
              <h2 class="opacity-0">{{ post.title }}</h2>
            </div>
          </a>
          <!-- Edit -->
          <div class="position-absolute bottom-0 end-0 translate-middle">
            {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
              <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
          </div>

          <!-- Block content-->
          {% if post.is_locked_for_review %}
          <div class="custom-block p-2 border">

            <a href="{% url 'content' post.url_title post.id %}" class="text-decoration-none">
            <div class="custom-block-post-title rounded-0 rounded-top p-1">
              <h4 class="text-truncate">{{ post.title }}</h4>
            </div>
            </a>

            <h2 class="py-0 my-0">Bloqueado para análise</h2>
            {% if user.is_superuser %}
            <p class="text-truncate py-0 my-0"> Visível por você e o usuário '{{ post.user.first_name }}'</p>
            {% else %}
            <p class="text-truncate py-0 my-0"> Visível somente por você</p>
            {% endif %}

            <!-- Reason info -->
            <div class="position-absolute bottom-0 start-0 p-1">
            <button type="button" class="btn btn-light active text-dark border border-0" data-bs-toggle="modal" data-bs-target="#staticBackdropDetailPost">
              <i class="bi bi-info-circle-fill"></i>
            </button>
            <!-- View post -->
            <a type="button" class="btn btn-light active text-dark border border-0" href="{% url 'content' post.url_title post.id %}">
              <i class="bi bi-eye-fill"></i>
            </a>
            <!-- Edit -->
            {% if user.is_superuser %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0">
              <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}

            </div>

            <!-- Modal -->
            <div class="modal fade modal-lg" id="staticBackdropDetailPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropDetailPostLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">

                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropDetailPostLabel">Detalhes do bloqueio</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <section class="review-reason">
                    {{ post.review_reason | safe }}
                    </section>
                  </div>

                </div>
              </div>
            </div>

          </div>
        {% endif %}
        </div>

      </div>
      {% endif %}

      {% endfor %}
    </div>
    {% endfor %}

    {% else %}
    <div class="text-center text-muted mt-5 mb-5"><h1>Nenhuma postagem</h1></div>

    {% endif %}

    {% include 'partials/_pagination.html'%}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}
