{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<div class="container mt-5 mb-5">
    <section class="container col-8" >
        <h1>Editar Postagem</h1>
        <p class="mb-4">&nbsp;Preencha todos os campos</p>

        {% if message_err %}
        <p class="bg-danger p-2 bg-opacity-50">{{ message_err }}</p>
        {% endif %}

        <form action="{% url 'update' post_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in post_forms.visible_fields %}
            <div class="form-group mb-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <section class="alert alert-danger" role="alert">
                {{ field.errors }}
            </section>
            {% endfor %}
            {% endfor %}
            <input type="submit" value="Salvar" class="btn btn-success">
        </form>
    </section>

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

