{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<div class="container mt-5 mb-5">
    <section class="mx-5">
        <p class="mb-4 text-center text-muted mt-5 pt-4">Editar postagem</p>

        {% if message_err %}
        <p class="bg-danger p-2 bg-opacity-50">{{ message_err }}</p>
        {% endif %}
        <form action="{% url 'update' post_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in post_forms.visible_fields %}
            <div class="form-group mb-4">
                {% if field.name == 'is_published' %}
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
                {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label | safe }}</label>
                {{ field }}

                {% endif %}
            </div>
            {% for error in field.errors %}
            <section class="alert alert-danger" role="alert">
                {{ field.errors }}
            </section>
            {% endfor %}
            {% endfor %}
            <a type="button" class="btn btn-light active text-danger border border-0" data-bs-toggle="modal" data-bs-target="#staticBackdropDelete"><i class="bi bi-trash-fill"></i></a>
            <button type="submit" class="btn btn-light active text-dark border border-0"><i class="bi bi-arrow-repeat"></i></button>
        </form>

        <!-- MODAL -->
            <div class="modal fade text-start" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Essa ação não pode ser desfeita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- MODAL Content -->
                      <p>
                          Você apagará a postagem de forma irreversível!
                      </p>
                      <a href="{% url 'delete' url_to_go_back post_id %}" type="button" class="btn btn-light active text-danger border border-0"><i class="bi bi-trash-fill"></i></a>
                    <!-- /MODAL Content -->
                  </div>
                </div>
              </div>
            </div>
            <!-- /MODAL -->

    </section>

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

