{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- NAV -->
{% include 'partials/_nav.html'%}
<!-- /NAV -->

<!-- CAROUSEL -->
{% if carousel_posts %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'content' carousel_posts.0.url_title carousel_posts.0.id %}">
        <div class="d-block w-100" style="height: 350px; background-image: url('{{ carousel_posts.0.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.0.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.0.summary }}</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'content' carousel_posts.1.url_title carousel_posts.1.id %}">
        <div class="d-block w-100" style="height: 350px; background-image: url('{{ carousel_posts.1.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.1.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.1.summary }}</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'content' carousel_posts.2.url_title carousel_posts.2.id %}">
        <div class="d-block w-100" style="height: 350px; background-image: url('{{ carousel_posts.2.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.2.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.2.summary }}</p>
        </div>
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% else %}
<div class="mb-4">&nbsp;</div>
{% endif %}
<!-- /CAROUSEL -->

<!-- ### CONTAINER ### -->
<div class="container">
    {% if user.is_authenticated %}
    <div class="h4 p-2 mb-4 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
        <p>&nbsp;</p>
        <a type="button" class="btn btn-light text-dark border border-0 btn-lg mt-2" href="{% url 'create' url_context %}">
            <i class="bi bi-plus-circle-fill"></i>
        </a>
    </div>
    {% else %}
    <div class="mb-5">&nbsp;</div>
    {% endif %}

    {% if posts_per_page %}
    {% for post_group in posts_per_page %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in post_group %}
      <div class="col card-box mb-4">

        <div class="position-relative card mb-1 border-0" style="padding: 10px;">
          <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
            <img src="{{ post.image.url }}" class="card-img" alt="...">
            <!-- Image blur -->
            <div class="customcard rounded-0 rounded-top px-2 py-4" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-image: url('{{ post.image.url }}'); background-size: cover; filter: blur(3px);">
              <h2 class="opacity-0">{{ post.title }}</h2>
              <p class="card-text text-truncate opacity-0">{{ post.summary }}</p>
            </div>
            <!-- BG and Text -->
            <div class="customcard rounded-0 rounded-top px-2 py-4" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-color: rgba(0, 0, 0, 0.8);">
              <h2>{{ post.title }}</h2>
              <p class="card-text text-truncate">{{ post.summary }}</p>
            </div>
            <!-- Border -->
            <div class="customcard rounded-0 rounded-top w-100 px-2 py-4" style="position: absolute; top: 0px; left: 0px; border: 10px solid #FFF; border-bottom: 0px;">
              <h2 class="opacity-0">{{ post.title }}</h2>
              <p class="card-text text-truncate opacity-0">{{ post.summary }}</p>
            </div>
          </a>

          <!-- Edit -->
          <div class="position-absolute bottom-0 end-0 translate-middle">
            {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
              <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    {% include 'partials/_pagination.html'%}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

