{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- NAV -->
{% include 'partials/_nav.html'%}
<!-- /NAV -->

<!-- CAROUSEL -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'content' carousel_posts.0.url_title carousel_posts.0.id %}">
        <div class="d-block w-100" style="height: 450px; background-image: url('{{ carousel_posts.0.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.0.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.0.summary }}</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'content' carousel_posts.1.url_title carousel_posts.1.id %}">
        <div class="d-block w-100" style="height: 450px; background-image: url('{{ carousel_posts.1.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.1.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.1.summary }}</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'content' carousel_posts.2.url_title carousel_posts.2.id %}">
        <div class="d-block w-100" style="height: 450px; background-image: url('{{ carousel_posts.2.image.url }}'); background-repeat: no-repeat; background-size: cover;">
          <div style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); width: 100%; height: 100%;"></div>
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ carousel_posts.2.title }}</h1>
          <p class="text-truncate">{{ carousel_posts.2.summary }}</p>
        </div>
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- /CAROUSEL -->

<!-- ### CONTAINER ### -->
<div class="container">
    {% if user.is_authenticated %}
    <div class="h4 p-2 mb-4 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
        <p>&nbsp;</p>
        <a type="button" class="btn btn-light text-dark border border-0 btn-lg mt-2" href="{% url 'create' url_context %}">
            <i class="bi bi-plus-circle-fill"></i>
        </a>
    </div>
    {% else %}
    <div class="mb-5">&nbsp;</div>
    {% endif %}

    {% if posts_per_page %}
    {% for post_group in posts_per_page %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in post_group %}
      <div class="col">
        <div class="card mt-4">
          <a class="card-link text-decoration-none link-dark" href="{% url 'content' post.url_title post.id %}">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text text-truncate">{{ post.summary }}</p>
              </div>
          </a>
            <div class="card-footer">
                <small class="text-muted"><a href="{% url 'dashboard' post.user.username %}" class="text-decoration-none">{{ post.user.first_name }}</a> - {{ post.publication_date }}</small>
            {% if user.is_authenticated and user.id == post.user.id %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
                <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}

    {% include 'partials/_pagination.html'%}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

