{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- NAV -->
{% include 'partials/_nav.html'%}
<!-- /NAV -->

<!-- ### CONTAINER ### -->
<div class="container">
    <div class="mb-5 mt-2">&nbsp;</div>
    <h1 class="text-center mb-4">
        <span class="text-muted bg-light border py-2 px-3 rounded">{{ search_text }}</span>
    </h1>

    {% if posts %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in posts %}
      <div class="col card-box mb-4">

        <div class="position-relative card mb-1 border-0" style="padding: 10px;">
          <a href="{% url 'content' post.url_title post.id %}" class="card-link text-dark text-decoration-none">
            <img src="{{ post.image.url }}" class="card-img" alt="...">
            <!-- Image blur -->
            <div class="customcard rounded-0 rounded-top px-2 py-4" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-image: url('{{ post.image.url }}'); background-size: cover; filter: blur(3px);">
              <h2 class="opacity-0">{{ post.title }}</h2>
              <p class="card-text text-truncate opacity-0">{{ post.summary }}</p>
            </div>
            <!-- BG and Text -->
            <div class="customcard rounded-0 rounded-top px-2 py-4" style="position: absolute; top: 10px; left: 10px; width: calc(100% - 20px); background-color: rgba(0, 0, 0, 0.8);">
              <h2>{{ post.title }}</h2>
              <p class="card-text text-truncate">{{ post.summary }}</p>
            </div>
            <!-- Border -->
            <div class="customcard rounded-0 rounded-top w-100 px-2 py-4" style="position: absolute; top: 0px; left: 0px; border: 10px solid #FFF; border-bottom: 0px;">
              <h2 class="opacity-0">{{ post.title }}</h2>
              <p class="card-text text-truncate opacity-0">{{ post.summary }}</p>
            </div>
          </a>
          <!-- Edit -->
          <div class="position-absolute bottom-0 end-0 translate-middle">
            {% if user.is_authenticated and user.id == post.user.id or user.is_superuser %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
              <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="text-center text-muted mt-5 mb-5 pt-5 pb-5"><h1 class="mt-5 mb-5 pt-5 pb-5">Nada encontrado!</h1></div>
    {% endif %}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}