{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- NAV -->
{% include 'partials/_nav.html'%}
<!-- /NAV -->

<!-- ### CONTAINER ### -->
<div class="container">
    {% if user.is_authenticated %}
    <div class="h4 p-2 mb-4 mt-5 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
        <p>&nbsp;</p>
        <a type="button" class="btn btn-light text-dark border border-0 btn-lg mt-2" href="{% url 'create' url_context %}">
            <i class="bi bi-plus-circle-fill"></i>
        </a>
    </div>
    {% else %}
    <div class="mb-5">&nbsp;</div>
    {% endif %}

    {% if posts %}
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 pb-5">
      {% for post in posts %}
      <div class="col">
        <div class="card mt-4">
          <a class="card-link text-decoration-none link-dark" href="{% url 'content' post.url_title post.id %}">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text text-truncate">{{ post.summary }}</p>
              </div>
          </a>
            <div class="card-footer">
                <small class="text-muted"><a href="{% url 'dashboard' post.user.username %}" class="text-decoration-none">{{ post.user.first_name }}</a> - {{ post.publication_date }}</small>
            {% if user.is_authenticated and user.id == post.user.id %}
            <a href="{% url 'edit' post.url_title post.id url_context %}" type="button" class="btn btn-light active text-dark border border-0 btn-sm">
                <i class="bi bi-pen-fill"></i>
            </a>
            {% endif %}
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="text-center text-muted mt-5 mb-5 pt-5 pb-5"><h1>A busca não encontrou nenhuma postagem</h1></div>
    {% endif %}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

