{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container">
    {% if user.is_authenticated %}
    <div class="h4 p-2 mb-4 mt-5 bg-secondary text-secondary border-bottom border-secondary border-opacity-25 d-flex justify-content-between" style="--bs-bg-opacity: .05;">
        <p>&nbsp;</p>
        <a type="button" class="btn btn-light text-dark border border-0 btn-lg mt-2" href="{% url 'create' url_context %}">
            <i class="bi bi-plus-circle-fill"></i>
        </a>
    </div>
    {% else %}
    <div class="mb-5">&nbsp;</div>
    {% endif %}

    {% if posts %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 pb-5">
      {% for post in posts %}
      <div class="col">
        <div class="card mt-4" style="background-image: url('{{ post.cover_image.url }}'); background-size: cover;">
          <a class="card-link text-decoration-none link-dark bg-dark bg-opacity-50 text-truncate" href="{% url 'dashboard' post.user.username %}">
              <img src="{{ post.profile_image.url }}" class="rounded-circle" style="border: 2px solid #FFFFFF; height: 75px; width: 75px;">
              <span class="text-light">{{ post.user.first_name }}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="text-center text-muted mt-5 mb-5 pt-5 pb-5"><h1>A busca não encontrou nenhum usuário</h1></div>
    {% endif %}

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

