{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container">
<div class="mt-5">&nbsp;</div>

    <div class="row pt-2 pb-2 mb-2" style="height: 550px; background-color: #F5F5F5;">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#appearance">Aparência</a>
          <a class="list-group-item list-group-item-action" href="#name">Nome</a>
          <a class="list-group-item list-group-item-action" href="#username">Usuário</a>
          <a class="list-group-item list-group-item-action active" href="#password">Senha</a>
          <a class="list-group-item list-group-item-action" href="#email">Email</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
          <a class="list-group-item list-group-item-action disabled">&nbsp;</a>
        </div>
      </div>
      <div class="col-8">
        <div style="overflow-y: scroll; height: 550px;" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          <div id="appearance" style="height: 550px;">
            <h1>Aparência</h1>
          </div>

          <div id="name" style="height: 550px;">
            <h1>Nome</h1>
          </div>

          <div id="username" style="height: 550px;">
            <h1>Usuário</h1>
          </div>

          <div id="password" style="height: 550px;">
            <h1>Senha</h1>
          </div>

          <div id="email" style="height: 550px;">
            <h1>Email</h1>
          </div>

        </div>
      </div>
    </div>

<!-- / CONTAINER -->
</div>

{% endblock %}
