{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ### NAV ### -->
{% include 'partials/_nav.html'%}

<!-- ### CONTAINER ### -->
<div class="container mt-5 mb-5">
    <section class="container col-8" >
        <h1>Realizar Cadastro</h1>
        <p class="mb-4">&nbsp;Complete as informações</p>
        <form action="#" method="post">
            {% csrf_token %}
            {% for field in user_forms.visible_fields %}
            <div class="form-group mb-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <section class="alert alert-danger" role="alert">
                {{ field.errors }}
            </section>
            {% endfor %}
            {% endfor %}
            <input type="submit" value="Cadastrar" class="btn btn-success">
        </form>
    </section>

<!-- / CONTAINER -->
</div>

<!-- ### FOOTER ### -->
{% include 'partials/_footer.html'%}

{% endblock %}

